<div id="login-container">
	<img id="security-icon" src="/assets/security_icon.jpg" alt="security icon"/>
	<div id="login-input-block">
		<input placeholder="email address"/>
		<input placeholder="password" type="password">
		<button>Login</button>
	</div>
	<a href="/dashboard">signup for an account</a>
<div>

<style>
	body
	{
		margin: 0;
		padding: 0;
	}

	#login-container
	{
		margin: 200 auto 0 auto;
		width: 350px;
	}

	#login-container a
	{
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	#security-icon
	{
		display: block;
		margin: 10px auto;
		width: 150px;
	}

	#login-input-block
	{
	}

	#login-input-block input
	{
		font-size: 14pt;
		height: 30px;
		margin: 5px 0px;
		padding-left: 5px;
		width: 100%;
	}

	#login-input-block button
	{
		background-color: #1C8BDC;
		border: none;
		color: white;
		font-size: 12pt;
		font-weight: bold;
		height: 35px;
		margin: 10px 0px;
		width: 100%;
	}
</style>