<div id="login-container">
	<img id="security-icon" src="/assets/security_icon.jpg" alt="security icon"/>
	<div id="login-input-block">
		<input placeholder="email address"/>
		<input placeholder="password" type="password">
		<button>Login</button>
	</div>
	<a href="/dashboard">signup for an account</a>
<div>